@import 'constants.scss';
@import 'mixins.scss';
@import 'media.scss';

$color-primary-main: #19323d;
$line-border-default: 1px solid $color-primary-main;
$color-chord: #5d3cf2;

@mixin round-padding-right {
  padding-right: 4 * $unit;
  border-bottom-right-radius: 1 * $unit;
  border-top-right-radius: 1 * $unit;
}

@mixin round-padding-left {
  padding-left: 6 * $unit;
  border-bottom-left-radius: 1 * $unit;
  border-top-left-radius: 1 * $unit;
}

@mixin wordsItem {
  grid-row: 2;
  box-sizing: border-box;
  border-bottom: 4px dashed transparent;
  height: var(--words-line-height);
  z-index: 1;

  border-top: $line-border-default;
  border-bottom: $line-border-default;
}

.section {
  line-height: 1;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2 * $unit;

  .title {
    grid-column: 1 / 3;
  }
}

.root {
  // * {
  //   background-color: #0081b91c;
  // }

  --rhythm-line-min-width: #{$unit * 9};
  --point-size: #{$unit * 3};
  --rhythm-point-line-height: 4px;
  --root-paddings: #{8 * $unit};
  --root-border-radius: #{1 * $unit};
  --words-line-height: #{13 * $unit};
  --root-grid-row-gap: #{$unit};
  --chord-wrapper-margin-bottom: 2px;
  --rhyme-line-grid-template-rows: #{10 * $unit} #{13 * $unit};
  --actions-transform: none;

  @include lt($md) {
    --rhythm-line-min-width: #{$unit * 4};
    --point-size: #{$unit * 3};
    --rhythm-point-line-height: 2px;
    --root-paddings: #{2 * $unit 2 * $unit 0 2 * $unit};
    --root-border-radius: #{1 * $unit};
    --words-line-height: #{13 * $unit};
    --root-grid-row-gap: inherit;
    --chord-wrapper-margin-bottom: 2px;
    --rhyme-line-grid-template-rows: #{minmax(10 * $unit, 1fr) auto};
    --actions-transform: #{translateY(-2 * $unit)};
  }

  padding: $unit * 6;
  padding-left: $unit * 4;

  &.chordPanel {
    padding: var(--root-paddings);
    border-radius: var(--root-border-radius);
    display: grid;
    grid-template: 1fr / 1fr;
    row-gap: var(--root-grid-row-gap);
    align-items: baseline;
  }

  .rhythmLine {
    display: grid;
    grid-template-rows: var(--rhyme-line-grid-template-rows);

    > * {
      min-width: var(--rhythm-line-min-width);
    }

    .rhythmPointWrapper {
      z-index: 2;
      text-align: start;
      margin-top: auto;
      position: relative;
      transform: translateY(8px);

      .chordWrapper {
        // margin-bottom: 0;
        // margin-top: 0;
        height: 24px;
        // margin-bottom: var(--chord-wrapper-margin-bottom);
        cursor: pointer;

        .chord {
          padding: 2px 8px;
          border-radius: 1 * $unit;
          background-color: $color-chord;
          color: map-get($map: $colors, $key: 'primary-light');
          height: 100%;
          margin-right: $unit;
          white-space: pre;
          display: inline-block;

          > * {
            margin: auto;
            outline: none;
          }
        }
      }

      .rhythmPoint {
        width: var(--point-size);
        height: var(--point-size);
        border-radius: 100%;
        position: relative;
        border: none;
        cursor: pointer;
        box-sizing: border-box;

        &.strong {
          background-color: $color-primary-main;
        }

        &.weak {
          background-color: white;
          border: 1px solid black;
          // box-sizing: border-box;
        }
      }

      .rhythmPointLine {
        width: 100%;
        // background: map-get($map: $colors, $key: 'chord-point-weak');
        transform: translateY(50%);
        height: var(--rhythm-point-line-height);
        position: absolute;
        left: calc(var(--point-size) / 2);
        bottom: calc(var(--point-size) / 2 + 3px);
      }
    }

    .inputWordsPrefix {
      grid-column: 1;
    }

    .inputWords {
      .inputWordsSpanWrapper {
        position: relative;
        display: inline-block;
        width: 100%;
        line-height: 2rem;
        font-size: 16px;
        height: 34px;

        .widthMachine {
          opacity: 0;
          white-space: pre;

          &::after {
            content: ' ';
            line-height: inherit;
            font-size: inherit;
            padding: unset;
          }
        }

        input {
          background: transparent;
          border: none;
          font-family: inherit;
          opacity: 50%;
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          outline: none;
          line-height: inherit;
          font-size: inherit;
          padding: unset;
        }
      }
    }
  }

  .invisible {
    opacity: 0;
  }
}

.wordsGridItem {
  @include wordsItem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.canDropWordsGridItem {
    border-color: rgba(187, 187, 187, 0.452);
  }

  &.isOverWordsGridItem {
    border-color: rgb(255, 255, 255);
  }

  &.lastWordsOnLine {
    @include round-padding-right;
    border-right: $line-border-default;
  }

  &.firstWordsOnLine {
    @include round-padding-left;
    border-left: $line-border-default;
  }

  .word {
    opacity: 50%;
    white-space: pre;
    cursor: move;
    margin: 0 2px;
    &:hover {
      background: $color-chord;
      color: white;
      line-height: 2rem;
      border-radius: 3 * $unit;
    }

    &.firstWord {
      margin-left: 0;
      opacity: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.chordForm {
  white-space: pre;
}
